<main class = "post-wrap content-area col-md-9 Right">
	<article class ="post-36 post type-post status-publish format-standard hentry category-uncategorized">
		<header class="entry-header">
			<h2 class="title-post" ng-model="title"></h2>
		</header>
		<div class="entry-post">
			<div ng-bind-html="description"></div>
			<uib-accordion close-others="oneAtATime" ng-model="experience">
				<uib-accordion-group heading ="{{exp.title}}" ng-repeat="exp in experience">
					<h3>{{exp.organization}}</h3>
					<div>
						<p ng-bind-html="exp.content"></p>
						<a href="{{exp.link}}">{{exp.link}}</a>
					</div>
					<span>
						<time>{{exp.dateCreated}}</time> - <time>{{exp.dateEnded}}</time>
					</span>
				</uib-accordion-group>
			</uib-accordion>
		</div>
	</article>

	<footer class="entry-footer"></footer>
</main>