doctype html
html(ng-app='baseApp')
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")

		//TODO switch to bower
		// Figure out why I can't import Angular bootstrap UI
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js")
		script(src-"https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js")
		script(src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.1.js")
		script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js")
		//All the npm 
		//script(src="/lib/angular/angular.min.js")
		//script(src="/lib/angular-animate/angular-animate.min.js")
		//script(src="/lib/angular-route/angular-route.min.js")
		//script(src="/lib/angular-ui-bootstrap/ui-bootstrap.js")
		//link(rel="stylesheet", href="/lib/angular-ui-bootstrap/ui-bootstrap-csp.css")		
		// The javascript and css 
		script(src="/content/javascripts/common/factory/resumeFactory.js")
		script(src="/content/javascripts/homeApp/baseApp.js")
		script(src="/content/javascripts/homeApp/controllers/controllers.js")
		script(src="/content/javascripts/homeApp/baseApp.config.js")
		link(rel='stylesheet', href='/content/stylesheets/syndney.css')
	body(class ="home blog", ng-controller="homePageController")
		include ./header.jade
		div(class="fp-content-area")
			main(class="site-main", role="main")
				div(class="entry-content row", ng-view)
			footer(ng-model="menus", class="site-footer mainnav", role="contentinfo")
				ul(class="socials")
					li(ng-repeat="menuItem in menus", ng-click="toggleHeader(menuItem.name)")
					a(href="/{{menuItem.location}}") {{menuItem.name}}
		base(href="/")