
<!--
	remove flex-slider text-slider-section
	slides-container
-->

<div class="header-slider" ng-show="showHeader">
	<div class="slides-container text-slider-section">
    	<uib-carousel interval="interval" no-wrap="noWrapSlides">
    		<uib-slide ng-repeat="slide in sliderPhrases" class="text-slider">
    			<div class="slide-item">
    				<h2 class="maintitle">{{slide}}</h2>
					<p class="subtitle">
    					<a class="roll-button button-slider">{{startingPoint}}</a>
					</p>	
				</div>
    		</uib-slide>
    	</uib-carousel>
	</div>
</div>

<div class="header-image" ng-show="showHeader">
	<img class="header-inner" src="{{headerImage}}" />
</div>

<div id="content" class="page-wrap">
	<div class="container content-wrapper">
		<div class="row">
		</div>
	</div>
	<div ng-include="/content/partials/footer.html"></div>
</div><!-- #content -->
